html {
    margin: 1em 0 0 1em;
}

#countdown {
    text-align: center;
    margin-bottom: 2em;
    display: inline-block;
}

#matchups {
    height: 75vh;
}

#header {
    font-size: 3em;
}

#promptContainer>div {
    margin-bottom: 0.5em;
}

.timePrompt {
    font-size: 2.5em;
}

#finishWriting {
    font-size: 1.5em;
    width: 25em;
    height: 150%;
}

#finishWriting:focus {
    outline: none;
}