html {
    text-shadow: 0.2em #000;
}

.Countdown {
    font-size: 1.5em;
    text-align: center;
}

.header {
    font-size: 3em;
    text-align: center;
}

/* Pairing phase */

.pairName {
    background-color: #2498ff;
    color: white;
    border-radius: 100px;
    width: 12.5em;
    padding: 1em 0 1em 0;
    display: inline-block;
    margin: 0 2em 0 2em;
}

.currentPairName {
    border: solid white 3px;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 90%;
}

.pairWrapper {
    margin-bottom: 1em;
    font-size: 1.25em;
}

#matchups {
    margin: auto;
    width: 60%;
    border: none;
}

.avatarMatchupWrapper {
    padding: 2em;
    margin-bottom: 2em;
}

.matchupAvatar {
    border: solid rgba(255, 255, 255, 0.651) 2px;
    border-radius: 50px;
    background-color: #2498ff;
    position: relative !important;
}

#opponentCard {
    width: 65%;
    margin: auto;
    text-align: center;
    border: none;
    border-radius: 20px 20px 5px 5px;
    padding: 0 !important;
    background-color: #96ceff;
}

#opponentCardHeader {
    font-size: 2em;
    background-color: #2498ff;
    color: white;
    border: solid rgba(255, 255, 255, 0.521) 1px;
    border-radius: 20px 20px 0px 0px;
}

/* ANCHOR: Writing Phase */

.writingPhase {
    margin: auto;
    padding: 2em;
    background-color: #cde8ffd5;
    border: solid rgba(255, 255, 255, 0.521) 1px;
    border-radius: 1.5em;
}

#promptContainer>div {
    margin-bottom: 0.5em;
}

.writingRow {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

.barInputs {
    margin: auto;
    font-size: 1.25em !important;
}

.displayWords {
    margin: 0 auto 0.5em auto;
    padding: 0.5em;
    background-color: #d4e5ff;
    color: #245497;
    border-radius: 15px;
    font-size: 1.25em;
}

.writingPhaseCards {
    border: solid rgba(255, 255, 255, 0.521) 1px;
    border-radius: 20px;
    background-color: #96ceff !important;
}

.writingPhaseHeaders {
    font-size: 1.5em;
    color: white;
    background-color: #52aeff !important;
}

#finishWriting {
    font-size: 1.5em;
    padding: 0.25em 1em 0.25em 1em;
    display: block;
    margin: 2em auto 0.5em auto;
}

/* Rapping phase */

.rapPhase {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 1;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
}

#rapDisplay {
    text-align: center;
    border-radius: 0.5em;
    color: #fff;
    border: 1px solid rgb(145, 145, 145);
    backdrop-filter: blur(0.5em) brightness(0.75);
}


#rapDisplay>div {
    font-size: 2em;
}

/* Voting Phase */

.votePhase {
    padding: 2em;
    background-color: #cde8ffd5;
    border: solid rgba(255, 255, 255, 0.521) 1px;
    border-radius: 1.5em;
}

.rap {
    font-size: 1.5em;
}

.rapperName {
    font-size: 2.5em;
}

#votePrompt {
    margin-top: 1.5em;
    text-align: center;
    font-size: 2em;
}

#voteConfirmation {
    text-align: center;
    font-size: 1.25em;
}

#rapDisplayRow {
    margin-top: 1em;
}

#rapDisplayRow>div>div {
    padding: 1em;
    background-color: rgb(150, 206, 255);
}

#voteBtnRow button {
    background-color: #fff;
}

/* Round results */

#rapperList {
    margin: auto;
    width: 75%;
    border-radius: 0.25em;
    font-size: 1.5em;
}

#rapperList>div {
    margin: 0.5em 0;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: 0.3s;
}

#rapperList>div:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Game Results */

#podium {
    display: flex;
    height: 25em;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1em;
}

#podium>div {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    width: 10em;
    margin: 0 1em 0 1em;
}

#podium>div:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

/* Podium spots */

#firstP {
    height: 16em;
    background-color: #ffed48;
    transition: 0.3s;
}

#firstP:hover {
    filter: drop-shadow(0 0 1em #ffed48);
}

#secondP {
    height: 13em;
    background-color: #C0C0C0;
    transition: 0.3s;
}

#secondP:hover {
    filter: drop-shadow(0 0 1em #C0C0C0);
}

#thirdP {
    height: 10em;
    background-color: #cd7f32;
    transition: 0.3s;
}

#thirdP:hover {
    filter: drop-shadow(0 0 1em #cd7f32);
}