html {
    text-shadow: 0.2em #000;
}

.Countdown {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}

.header {
    font-size: 3em;
    text-align: center;
}

/* Pairing phase */

#matchups {
    height: 75vh;
    margin-right: 0.5em;
}

#opponentCardRow {
    width: 100%;
    justify-content: center;
}

#opponentCard {
    width: 50%;
    align-items: center;
}

/* ANCHOR: Writing Phase */

.writingPhase {
    margin: auto;
    padding: 2em;
    background-color: #cde8ffd5;
    border: solid rgba(255, 255, 255, 0.521) 1px;
    border-radius: 1.5em;
}

#promptContainer>div {
    margin-bottom: 0.5em;
}

.writingRow {
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

.barInputs {
    margin: auto;
    font-size: 1.25em !important;
}

.displayWords {
    margin: 0 auto 0.5em auto;
    padding: 0.5em;
    background-color: #d4e5ff;
    color: #245497;
    border-radius: 15px;
    font-size: 1.25em;
}

#finishWriting {
    font-size: 1.5em;
    padding: 0.25em 1em 0.25em 1em;
    display: block;
    margin: 2em auto 0.5em auto;
}

/* Rapping phase */

.rapPhase {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 1;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
}

#rapDisplay {
    text-align: center;
    border-radius: 0.5em;
    color: #fff;
    border: 1px solid rgb(145, 145, 145);
    backdrop-filter: blur(0.5em) brightness(0.75);
}

#rapDisplay>div {
    font-size: 2em;
}

/* Voting Phase */

.votePhase {
    padding: 2em;
    background-color: #cde8ffd5;
    border: solid rgba(255, 255, 255, 0.521) 1px;
    border-radius: 1.5em;
}

.rap {
    font-size: 1.5em;
    color: rgb(255, 238, 0);
}

.rapperName {
    font-size: 2.5em;
}

#votePrompt {
    margin-top: 1.5em;
    text-align: center;
    font-size: 2em;
}

#voteConfirmation {
    text-align: center;
    font-size: 1.25em;
}

#rapDisplayRow>div>div {
    padding: 1em;
    background-color: rgb(150, 206, 255);
}

#voteBtnRow button {
    background-color: #fff;
}

/* Round results */

#rapperList {
    margin: auto;
    width: 75%;
    border-radius: 0.25em;
    font-size: 1.5em;
}

#rapperList>div {
    margin: 0.5em 0 0.5em 0;
    border: 1px solid #ccc;
    transition: 0.3s;
}

#rapperList>div:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

/* Game Results */

#podium {
    display: flex;
    height: 25em;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1em;
}

#podium>div {
    display: inline-block;
    text-align: center;
    font-size: 1.5em;
    width: 10em;
    margin: 0 1em 0 1em;
}

#podium>div:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

/* Podium spots */

#firstP {
    height: 16em;
    background-color: #ffed48;
    transition: 0.3s;
}

#firstP:hover {
    filter: drop-shadow(0 0 1em #ffed48);
}

#secondP {
    height: 13em;
    background-color: #C0C0C0;
    transition: 0.3s;
}

#secondP:hover {
    filter: drop-shadow(0 0 1em #C0C0C0);
}

#thirdP {
    height: 10em;
    background-color: #cd7f32;
    transition: 0.3s;
}

#thirdP:hover {
    filter: drop-shadow(0 0 1em #cd7f32);
}