.Home {
    text-align: center;
}

#inputRoomID {
    display: inline-block;
    height: 38px;
    transform: translateY(8%);
    border-radius: 0.25em;
    border: 1px solid #000;
    transition: 0.25s;
}

#inputRoomID:hover {
    box-shadow: 2px 3px rgb(77, 77, 77);
}

#createLobby {
    margin-right: 5em;
}

#joinRoom {
    margin-left: 0.5em;
}

#credits {
    position: fixed;
    width: 100%;
    bottom: 0.5em;
}

#gitBtn {
    border-radius: 25%;
    transition: 0.3s;
}

#gitBtn:hover {
    cursor: pointer;
    fill: #fff; 
    background: linear-gradient(#e66465, #9198e5);
    transition: 0.3s;
}