.Home {
    text-align: center;
    margin-bottom: 0.5em;
}

#title {
    color: #fff;
    text-shadow: 0 1px 3px #000;
}

#createLobby {
    transition: 0.3s;
}

#createLobby:hover {
    box-shadow: 2px 3px 1em #fff;
}

/* #inputRoomID {
    display: inline-block;
    width: 10em;
    border-radius: 0.25em;
    border: 1px solid #000;
    transition: 0.25s;
}

#inputRoomID:hover {
    box-shadow: 2px 3px rgb(77, 77, 77);
}

#joinRoom {
    margin-left: 0.5em;
} */

/* Nickname and Character Select */

#nicknameRow {
    justify-content: center;
    margin-top: 1em;
}

#inputNickname {
    display: inline-block;
    width: 12em;
}

#setName {
    display: inline-block;
    width: 8em;
}

#nameWarning {
    display: none;
    margin-top: 1em;
    color: rgb(255, 255, 255);
}

#credits {
    margin-top: 22%;
    text-align: center;
    color: #fff;
}

#repoLink {
    margin: 0.5em auto 0 auto;
    width: 15%;
    padding: 0.5em;
    color: #000;
    background: #ccc;
    transition: 0.3s;
    border-radius: 1em;
}

#repoLink:hover {
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background: linear-gradient(#e66465, #b797ff);
    transition: 0.3s;
}