.Home {
    text-align: center;
    margin-bottom: 0.5em;
}

#inputRoomID {
    display: inline-block;
    width: 10em;
    border-radius: 0.25em;
    border: 1px solid #000;
    transition: 0.25s;
}

#inputRoomID:hover {
    box-shadow: 2px 3px rgb(77, 77, 77);
}

#createLobby {
    margin-right: 5em;
}

#joinRoom {
    margin-left: 0.5em;
}

/* Nickname and Character Select */

#nicknameRow {
    justify-content: center;
    margin-top: 1em;
}

#inputNickname {
    display: inline-block;
    width: 12em;
}

#setName {
    display: inline-block;
    width: 8em;
}

#nameWarning {
    display: none;
    margin-top: 1em;
    color: rgb(255, 255, 255);
}

#credits {
    position: fixed;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 3.5em;
}

#repoLink {
    position: absolute;
    padding: 8px;
    bottom: -2.5em;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    background: #ccc;
    transition: 0.3s;
    border-radius: 1em;
}

#repoLink:hover {
    cursor: pointer;
    color: #fff;
    fill: #fff;
    background: linear-gradient(#e66465, #9198e5);
    transition: 0.3s;
}