/******* Global settings *******/

.lobby {
    padding: 1em;
    border-radius: 20px;
    background-color: #cde8ffd5;
    border: solid rgba(255, 255, 255, 0.521) 1px;
    width: 85%;
    margin: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1.5em;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#musicControl {
    position: absolute;
    padding: 0;
    width: 1.75em;
    height: 1.75em;
    top: 1em;
    right: 1em;
}

/******* Row 1 *******/

.lobby>form:first-child {
    margin-bottom: 0.5em;
}

#inputNickname {
    display: inline-block;
    width: 12em;
}

#setName {
    border: solid rgba(103, 164, 255, 0.603) 2px;
    display: inline-block;
    width: 8em;
}

#nameWarning {
    display: inline-block;
    color: red;
}

#startGame {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

#waitingMsg {
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -25%);
    display: none;
}

#copyCode {
    text-align-last: right;
}

#cb {
    transform: translateY(-10%);
    font-size: 12px;
}

#cb:hover {
    cursor: pointer;
}

#roomCode {
    display: inline-block;
    border: none;
    text-align-last: left;
    margin-right: 0.5em;
    width: 14em !important;
}

/******* Row 2 *******/

.lobby .cards {
    height: 28em;
    border: none;
    background-color: #52aeff;
    color: white;
}

.cards .cardHeaders {
    font-size: 2em;
    text-shadow: 0 1px 3px #000;
    background-color: #2498ff;
}

.playerListItem {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 15px;
    color: #245497;
    text-shadow: none;
}

#sendbar {
    height: 3em;
    width: 100%;
    display: inline-flex;
}

#chatInput {
    border-radius: 0.25rem 0 0 0.25rem;
    width: 70%;
}

#chatEnter {
    border: solid rgba(103, 164, 255, 0.603) 2px;
    border-radius: 0 0.25rem 0.25rem 0;
    width: 30%;
}

/******* Error Message *******/

.ErrorMsgBg {
    display: none;
    width: 100vw !important;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.ErrorMsgText {
    position: absolute;
    width: 25%;
    height: 10em;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    background-color: #fff;
}

.ErrorMsgText>span {
    position: absolute;
    text-align: center;
    width: 75%;
    font-size: 1.25em;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#closeErr {
    position: absolute;
    right: 0.5em;
    font-size: 2em;
}

#closeErr:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/******* Music Hint *******/

.musicHint {
    position: absolute;
    color: #fff;
    font-size: 0.8em;
    right: 3.5em;
    top: 3em;
}

#hintArrow {
    position: absolute;
    right: -2.25em;
    top: 1.25em;
    transform: rotate(180deg);
    width: 2em;
    height: 2em;
}