/******* Global settings *******/

* {
    max-width: 98vw;
}

.lobby {
    margin: 1em 0 0 1em;
}

/******* Row 1 *******/

#cb {
    transform: translateY(-10%);
    font-size: 12px;
}

#cb:hover {
    cursor: pointer;
}

#tooltip {
    margin-left: 0.25em;
}

#roomCode {
    display: inline-block;
    border: none;
    width: 5em !important;
}

/******* Row 2 *******/

#row_2 {
    margin-bottom: 0.5em;
}

#inputNickname {
    display: inline-block;
    width: 10em;
}

#setName {
    width: 8em;
}

/******* Row 3 *******/

#sendbar {
    height: 3em;
    width: 100%;
    display: inline-flex;
}

#chatInput {
    width: 70%;
}

#chatEnter {
    width: 30%;
}