.avatarContainer {
    margin: auto;
  position: relative;
  box-sizing: border-box;
}
.avatarComponent {
  width: 100%;
  height: 100%;
  /* background-size = number of sprites per row/column*100% */
  background-size: 800%;
  position: absolute;
}
.avatarHair {
  background-image: url("../../assets/avatar/hair.gif");
}
.avatarEyes {
  background-image: url("../../assets/avatar/eye.gif");
}
.avatarBody {
  background-image: url("../../assets/avatar/body.gif");
}
.avatarMouth {
  background-image: url("../../assets/avatar/mouth.gif");
}
.avatarShirt {
  background-image: url("../../assets/avatar/shirt.gif");
}
