.avatarContainer {
    width: 128px;
    height: 128px;
    position: relative;
    box-sizing: border-box;
}
.avatarComponent {
    width: 128px;
    height: 128px;
    position: absolute;
}
.avatarHair {
    background-image: url("../../assets/avatar/hair.gif");
}
.avatarEyes {
    background-image: url("../../assets/avatar/eye.gif");
}
.avatarBody {
    background-image: url("../../assets/avatar/body.gif");
}
.avatarMouth {
    background-image: url("../../assets/avatar/mouth.gif");
}
.avatarShirt {
    background-image: url("../../assets/avatar/shirt.gif");
}