@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
* {
    font-family: 'Balsamiq Sans', 'sans-serif';
    font-weight: 600;
    letter-spacing: 0.05em;
}

html {
    padding: 1em;
    height: 100%;
    background: hsla(217, 100%, 50%, 1) fixed;
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(190, 91%, 50%, 1) 100%) fixed;
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(190, 91%, 50%, 1) 100%) fixed;
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(190, 91%, 50%, 1) 100%) fixed;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#0BDCF3", GradientType=1);
}

.game_wrapper>div {
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

body {
    background-color: transparent !important;
    margin: auto !important;
}

input {
    border-radius: 0.25em;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    box-shadow: none !important;
}

button:focus {
    box-shadow: none !important;
}

#root {
    padding-bottom: 0.5em;
}